extends layout

block content
 div(style="width:50%;margin:0 auto;")
  form(action="/recipe/add" method="POST" enctype="multipart/form-data" class="ui form")
   div(class="field")  
    label(for="name") Name
    input(type="text" name="name")
   div(class="field") 
    label(for="description") Description
    textarea(name="description")
   div(class="field") 
    label(for="photo") Photo
    input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
   
   div Add Instruction
    div(class="instructions") 
     div(class="fields" ) 
      div(class="twelve wide field")
       input(type="text" name="instructions")       
      div(class="four wide field")
       button(class="ui button removebtn") Remove Photo
    div(class="ui button" id="add") Add Photo  
   input(type="submit" value="Save →" class="ui button")