extends layout

block content
  .container
    .row
      each recipe in recipes
        .col-sm-4
         .card(style='width: 18rem;')
          img.card-img-top(src=recipe.imageName alt='Card image cap')
          .card-body
            h5.card-title=recipe.name
            p.card-text=recipe.description
            a.btn.btn-primary(href="/recipe/"+recipe.id) Go somewhere
